annotate_misc/*
annotate_results/*
*masked
*fai
*nhr
*nin
*nsq
*log
busco_downloads/*
*faa
contig_323
contig_323*
contigs
contigs3
contigs3
contigs/*
contigs2/*
contigs3*
*fixedproducts
*fa
*tsv
*txt
*fna
*tsv
iprscan*
ipscan*
logfiles*
predict_results*
*gz
*fasta
stonefly*
temp*
trained*
